body {
  font-family: sans-serif;
  margin: 1em;
  color: rgba(10, 0, 0, 0.9);
}

input {
  padding-left: 1em;
}

textarea {
  width: 100%;
  min-height: 50vh;
  padding: 1em;
  margin-top: 1em;
  box-sizing: border-box;
  white-space: pre;
  overflow-x: scroll;
}
